#equipo {
    background-color: #fff;
    .titulo-section {
        width: 100%;
        padding: 1rem 0rem;
        background-color: $verde;
        color: #000;
        text-align: center;
        margin: auto;
        text-transform: capitalize;
    }
    .subtitulo {
        padding: 1rem;
        color: #000;
        text-align: center;
        padding: 1rem;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1rem;
        .integrante-equipo {
            width: 45%;
            color: #000;
            text-align: center;
            padding: 0.5rem;
            img {
                width: 80%;
                border-radius: 50%;
                filter: grayscale(1);
            }
            .nombre {
                font-size: 1.1rem;
            }
            .cargo {
                font-size: 1rem;
                color: #000;
                font-weight: bolder;
            }
        }
    }
    .container-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            width: 25%;
            object-fit: contain;
        }
    }
    .text-center-logos {
        padding-top: 1rem;
        font-weight: bold;
        text-align: center;
        font-size: 1.1rem;
        text-shadow: 1px 2px 1px rgba(77, 211, 24, 0.4);
    }
}

@media (min-width: 768px) {
    #equipo {
        .wrapper {
            .integrante-equipo {
                width: 30%;
            }
        }
    }
}
@media (min-width: 986px) {
    #equipo {
        &::before {
            display: block;
            content: " ";
            margin-top: -60px;
            height: 60px;
            visibility: hidden;
            pointer-events: none;
            background-color: #fff;
        }
        .subtitulo {
            font-size: 1.2rem;
            width: 80%;
            margin: auto;
            padding: 2rem;
        }
        .wrapper {
            padding: 2rem 5rem;
            .integrante-equipo {
                width: 20%;
                img {
                    width: 50%;
                }
                margin-bottom: 1.5rem;
            }
        }
        .container-logos {
            padding: 2rem 0;
            img {
                width: 10%;
                padding: 1rem;
            }
        }
        .text-center-logos {
            padding-top: 2rem;
            font-size: 1.4rem;
        }
    }
}
@media (min-width: 1400px) {
    #equipo {
        .subtitulo {
            font-size: 1.3rem;
        }
        .wrapper {
            padding: 2rem 7rem;
        }
        .text-center-logos {
            font-size: 1.6rem;
        }
    }
}
