footer {
    &::before {
        display: block;
        content: " ";
        margin-top: -60px;
        height: 60px;
        background-color: $grisOscuro;
        pointer-events: none;
    }
    padding-bottom: 1rem;
    background-color: #000;
    .container {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem 1rem 2rem;
        .brand {
            padding: 2rem 0;
            text-align: center;
            order: 2;
            img {
                width: 50%;
            }
        }
        .info-footer {
            color: #fff;
            order: 0;
            text-align: center;
            a {
                color: #fff;
            }
        }
    }
    .firma {
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }
    svg {
        width: 20px;
        text-align: center;
        margin: auto;
        padding-top: 1rem;
        fill: $verde;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 1140px) {
    footer {
        .container {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .brand {
                order: 0;
                img {
                    width: 90%;
                }
            }
            .info-footer {
                text-align: end;
            }
        }
    }
}
@media (min-width: 1400px) {
}
