header {
    background-image: url("../img/background-header-keclon-min.jpg");
    background-size: cover;
    background-position: center;
    height: 120vh;
    position: relative;
    z-index: 100;
    .texto-header {
        position: relative;
        padding-top: 50%;
        text-align: center;
    }
    .titulo-header {
        background-color: $negroTransparencia;
        width: 90%;
        padding: 1rem 1rem 2.5rem 1rem;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
    }
    .subtitulo-header {
        font-size: 1rem;
        font-weight: 400;
    }
}
@media (min-width: 768px) {
    header {
        .logo-mobile {
            width: 25%;
            padding: 0.5rem;
            top: 5px;
        }
        .titulo-header {
            font-size: 1.8rem;
            width: 65%;
            line-height: 2.5rem;
        }
    }
}
@media (min-width: 1140px) {
    header {
        .logo-mobile {
            display: none;
        }
        .logo-desktop {
            display: block;
            width: 13%;
            position: absolute;
            left: 10px;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            padding: 0.5rem 1rem;
            top: 0;
        }
        .titulo-header {
            top: 24%;
            font-size: 1.4rem;
            width: 70%;
            padding: 1rem;
        }
        .subtitulo-header {
            font-size: 1.2rem;
            line-height: 1.5;
        }
        .texto-header {
            padding-top: 18%;
        }
    }
}
@media (min-width: 1400px) {
    header {
        height: 100vh;
        .titulo-header {
            font-size: 1.8rem;
            padding: 2rem;
        }
        .subtitulo-header {
            font-size: 1.5rem;
        }
        .logo-desktop {
            width: 10%;
        }
        .texto-header {
            padding-top: 19%;
        }
    }
}
