.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: $negroTransparencia;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:$negroTransparencia;
  position: relative;
  width: 100%;
  z-index: -1;
}

.header li a {
  color: #fff;
  font-weight: 400;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms;
}


.header .logo {
  display: block;
  float: left;
  font-size: 3em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: $negroTransparencia;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 520px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header .menu-btn:checked ~ .logo-mobile {
  opacity: (0.05);
}

.logo-mobile {
  display: block;
  position: relative;
  left: 10px;
  top: 15px;
  width: 30%;
}
.logo-desktop {
  display: none;
}

@media (min-width: 998px) {
  .header {
    background-color: transparent;
  }
  .logo-desktop {
    display: block;
    position: absolute;
    left: 15px;
    top: 10px;
    width: 5%;
  }
  .header ul {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s ease;
    z-index: 9999;
    padding-right: 2rem;
  }
  .header li a {
    border: 0;
    font-weight: bold;
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  #logo-menu img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .menu.is-fixed {
    position: fixed;
    box-shadow: 3px 3px 10px #0000001f;
    background-color: $negroTransparencia;
    -webkit-animation: fadein 0.3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.3s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.3s;
    /* Internet Explorer */
    -o-animation: fadein 0.3s;
    /* Opera < 12.1 */
    animation: fadein 0.3s;
  }
  #logo-menu.fixed {
    display: block;
    width: 10%;
    position: absolute;
    left: 10px;
    align-self: center;
    padding: 1rem;
    top: 0;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
