#prensa {
  background-color: $grisClaro;
  .titulo-section {
    width: 100%;
    padding: 1rem 0rem;
    background-color: $grisOscuro;
    color: #fff;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
  }
  @mixin circle($i) {
    border-radius: 100%;
    height: $i;
    width: $i;
  }

  .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 3rem 0 2rem 0;
  }

  .wrapper {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 100%;
    padding: 0 4rem;

    & > .inner {
      display: flex;
      grid-gap: 1em;
      transition: all 1s ease-in-out;
    }
  }

  .card {
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;

    & > img {
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      display: block;
      width: 17.5em;
    }

    & > .content {
      background: $negroTransparencia;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      padding: 1em;
      text-align: center;

      & > h1,
      & > h3 {
        margin: 0.35em 0;
      }

      & > h1 {
        color: #fff;
        font-size: 1.25rem;
        line-height: 1;
      }

      & > h3 {
        color: #ccc;
        font-size: 0.9rem;
        font-weight: 300;
      }
      a {
        color: $verde;
        font-weight: bolder;
      }
    }
  }

  .map {
    margin-top: 1em;
    z-index:1000;
    & > button {
      all: unset;
      background: lighten($negroTransparencia, 10);
      cursor: pointer;
      margin: 0 0.125em;
      position: relative;
      user-select: none;
      @include circle(1em);

      &.active {
        &:after {
          background: $negroTransparencia;
          content: "";
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          @include circle(0.5em);
        }
      }
    }
  }
}
@media (min-width: 768px) {
}
@media (min-width: 986px) {
  .map {
    display:none;
  }
  #prensa {
    .center {
      padding: 4rem 0 3rem 0;
    }
    .wrapper {
      width: 63rem;
    }
    &::before {
      display: block;
      content: " ";
      margin-top: -60px;
      height: 60px;
      visibility: hidden;
      pointer-events: none;
      background-color: #fff;
      position: absolute;
    }
  }
}
@media (min-width: 1400px) {
}
