#productos {
  .titulo-section {
    width: 100%;
    padding: 1rem 0rem;
    background-color: $grisClaro;
    color: #fff;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
  }
  button {
    color: $verde;
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .texto-producto {
    text-align: center;
  }
  .productos-animal {
    background-image: url("../img/prod-animal.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productos-humana {
    background-image: url("../img/prod-humana.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productos-comestibles {
    background-image: url("../img/prod-comestibles.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productos-biodiesel {
    background-image: url("../img/prod-biodiesel.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .popup {
    width: 100%;
    height: 100vh;
    display: none;

    position: fixed;
    top: 0;
    right: 0;
  }

  #popup-article1:target {
    display: flex;
    z-index: 100;
  }
  #popup-article2:target {
    display: flex;
    z-index: 100;
  }
  #popup-article3:target {
    display: flex;
    z-index: 100;
  }
  #popup-article4:target {
    display: flex;
    z-index: 100;
  }

  @keyframes open-animation {
    0% {
      height: 0;
      top: 50%;
    }

    100% {
      height: 100vh;
      top: 0;
    }
  }

  .popup__block {
    padding: 4rem 1rem 2rem 1rem;
    text-align: start;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    animation: fade 0.2s ease-out;
    width: 100%;
    // height: 800px;
    background-color:rgba(255,255,255,0.87);
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .popup__title {
    font-size: 1.5rem;
    margin: 0 0 1em;
  }

  .popup__close {
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
  }

  .open-popup {
    color: $verde;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: $negroTransparencia;
    padding: 0.2rem 0.5rem;
  }
}
#productos::before { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
  pointer-events: none;
}

@media (min-width: 768px) {
}
@media (min-width: 1140px) {
  #productos {
    article {
      display: flex;
      flex-wrap: wrap;
      .productos-animal,
      .productos-comestibles,
      .productos-humana,
      .productos-biodiesel {
        width: 50%;
        height: 70vh;
      }
      .popup__block {
        width: 600px;
        height: 600px;
        overflow: auto;
      }
      .open-popup {
        font-size: 1.3rem;
        transition: all .2s ease;
      }
      .open-popup:hover {
        font-size: 1.5rem;
        background-color: $grisOscuro;
      }
    }
  }
}
@media (min-width: 1400px) {
}
