#queHacemos {
    .titulo-section {
        width: 100%;
        padding: 1rem 0rem;
        background-color: $verde;
        color: #fff;
        text-align: center;
        margin: auto;
        text-transform: capitalize;
    }
    .slideshow {
        width: 100%;
        height: 500px;
        position: relative;
        text-align: center;
        padding-bottom: 30px;
    }

    .slideshow[data-transition="zoom"] {
        overflow: hidden;
    }

    /* slideshow item */
    .slideshow--item {
        width: 100%;
        height: 500px;
        line-height: 1.5;
        position: absolute;
        top: 0;
        visibility: hidden;
        .bg-white {
            width: 100%;
            height: 500px;
            background: linear-gradient(0deg, rgba(31, 190, 108, 0.85) 8%, rgba(255, 255, 255, 0.5) 100%);
            position: absolute;
        }
        img {
            width: 100%;
            height: 500px;
        }
        .img-desktop {
            display: none;
        }
        .text-slide {
            h2 {
                padding: 0.5rem 0;
                line-height: 1;
            }
            position: absolute;
            text-align: left;
            top: 5%;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 1rem;
            width: 80%;
            z-index: 10;
            border-radius: 1.5rem;
            padding: 1rem;
        }
    }

    .slideshow--bullet:checked + .slideshow--item {
        visibility: visible;
    }

    .slideshow[data-transition="fade"] .slideshow--item {
        visibility: visible;
        opacity: 0;
        transition: 0.3s ease-out opacity;
    }

    .slideshow[data-transition="fade"] .slideshow--bullet:checked + .slideshow--item {
        opacity: 1;
    }

    .slideshow[data-transition="zoom"] .slideshow--item {
        visibility: visible;
        opacity: 1;
        transform: scale(0.000001);
        transition: 0.3s ease-out transform;
    }

    .slideshow[data-transition="zoom"] .slideshow--bullet:checked + .slideshow--item {
        opacity: 1;
        transform: scale(1);
    }

    /* slideshow navigation */
    .slideshow--nav {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        display: none;
        z-index: 88;
        cursor: pointer;
        color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .slideshow--nav:after {
        display: block;
        content: ">";
        font-size: 2em;
        color: #000;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -0.5em;
    }

    .slideshow--nav-previous {
        left: 0;
        display: block;
    }

    .slideshow--nav-previous:after {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
        right: auto;
        left: 10px;
    }

    .slideshow--nav-next {
        left: 50%;
        display: block;
    }

    /* Radiobuttons to control the slideshow */
    .slideshow--bullet {
        font-size: 0.75em;
        width: 1em;
        height: 1em;
        display: inline-block;
        position: relative;
        margin-top: 480px;
        z-index: 99;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: $negroTransparencia;
        border-radius: 1em;
        transition: 0.3s ease-out background, 0.3s ease-out transform;
    }

    .slideshow--bullet:checked {
        background: #999;
        outline: none;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        transform: scale(1.3);
    }
}
#queHacemos::before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
    pointer-events: none;
}
@media (min-width: 768px) {
    #queHacemos {
        .slideshow--item {
            .img-desktop {
                display: block;
            }
            .img-mobile {
                display: none;
            }
        }
    }
}

@media (min-width: 1140px) {
    #queHacemos {
        .slideshow {
            height: 700px;
            .slideshow--item {
                height: 700px;
                .text-slide {
                    width: 35%;
                    font-size: 1.4rem;
                    margin: 0;
                    top: 23%;
                    left: 10%;
                }
                img {
                    height: 700px;
                }
                .bg-white {
                    height: 700px;
                }
            }
            .slideshow--bullet {
                margin-top: 650px;
            }
        }
    }
}
@media (min-width: 1400px) {
    #queHacemos {
        .slideshow {
            .slideshow--item {
                .text-slide {
                    width: 35%;
                    margin: 0;
                    top: 29%;
                    left: 12%;
                    font-size: 1.6rem;
                }
            }
        }
    }
}
